/* Format for left jumbotron on main page */
/* #summary{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
} */

/* div.col-lg-5 div.jumbotron{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 25px;
}

div.col-lg-7 div.jumbotron{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 10px;
} */

div.container {
   margin: 0;
   padding: 0,0,0,0;
   border: 0;

}

div.col-sm-12 div.jumbotron{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 600px){
.main-img{
    height: 250px;
    width: 250px;
}
}


@media screen and (max-width: 1400px) and (min-width: 950px){
    .main-img{
        height: 300px;
        width: 300px;
    }
}

@media screen and (max-width: 1460px) and (min-width: 950px){
    .viz-img{
        height:120px;
        width: 120px;
    }
}

@media screen and (max-width: 600px){
    .comp-img{
        height: 300px;
        width: 300px;
    }
}

#summary-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /* size: auto; */
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.jumbotron{
    background-color:white;
}

.navbar-brand{
    background-color: rgb(3, 156, 156);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 0;
    margin-left: 50px;
}
@media screen and (max-width:991px){
    div div nav a.navbar-brand {
        background-color: rgb(3, 156, 156);
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 0;
        margin-left: 50px; 
    }
}
 .header-title{
    font-weight: 700;
    color: white;
    font-size: 30px;
    font-family: Georgia,Times,Times New Roman,serif
 }
@media screen and (max-width:991px){
div nav a strong.header-title{
    font-weight: 700;
    color: white;
    font-size: 28px;
    font-family: Georgia,Times,Times New Roman,serif
}
}

#footer-txt {
    color: rgb(82, 82, 82);
}

#footer-nav {
    background-color: rgb(146, 145, 145);
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

@media screen and (max-width : 991px) {
   div div nav.top-nav  {
        background-color: rgb(3, 156, 156); 
        padding-top: 1px; padding-bottom: 1px; 
    }
}


.top-nav{
    background-color:#f8f9fa;
    padding-top: 1px; padding-bottom: 1px;
}


.selected-image{
    border: 2px solid rgb(3, 156, 156);
    /* border: rgb(3, 156, 156); */

}

h1.display-4{
    color: rgb(3, 156, 156);
    font-size: 30px;
    font-weight: 700;
    font-family: Georgia,Times,Times New Roman,serif
}

h5 {
    color: rgb(3, 156, 156);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 1px;
    border: 0;
    font-family: Georgia,Times,Times New Roman,serif
}
/* 
#small-top{
    margin-top: 3px!important;
} */


/* div ul li a.nav-link:active {
    background-color:rgb(218, 218, 218);
} */

div ul li a.nav-link:hover {
    background-color:rgb(218, 218, 218);
}

/* div ul li a.nav-link:focus {
    background-color:rgb(218, 218, 218);
} */

@media screen and (max-width:703px) and (min-width:601px){
    .reg-img{
        height: 400px;
        widows: 400px;
    }
}

